@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


#transaction-list {
    padding: 10px;
    color: $mainColor;
    height: 50vh;

    h2{ 
        text-align: center;
    }

    ul {
        @include list;

        li {
            padding: 0 240px 10px 0;
        }

        .icon {
            cursor: pointer;
            transition: 0.2s all;

            &:hover {
                color: $hoverColor;
            }
        }
    }
}