@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


#head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 15vh;
    background-color: $mainColor;
    @include height-auto;
}

#converter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:10px;
    height: 10vh;
    text-align: center;
    border-bottom: 2px solid $mainColor;
    background-color: rgb(214, 214, 214);

    @media (max-width: 576px) {
        justify-content: start;
    }

    span {
        font-size: 22px;

        @media(max-width: 576px) {
            font-size: 20px;
        }
    }

    form{
        position: relative;
        margin: 0;
        
        input{
            padding: 5px;
            font-size: 18px;
            color: $mainColor;
            border: 2px solid rgb(214, 214, 214);
            border-radius: 5px;
            outline: none;
            margin: 10px 5px;
            width: 90px;

            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        .errors-pln {
            top: 9px;
            left: 100px;
            width: 140px;
            @include error($mainColor);
        }
    }
}