@import '../../styles/variables.scss';


#head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    padding: 10px;
    background-color: $mainColor;
}

#converter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid $mainColor;
    background-color: rgb(214, 214, 214);

    span {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    form{
        position: relative;
        margin: 0;
        
        input{
            padding: 5px;
            font-size: 18px;
            color: $mainColor;
            border: 2px solid rgb(214, 214, 214);
            border-radius: 5px;
            outline: none;
            margin: 10px;
            width: 120px;
        }

        .errors-pln {
            position: absolute;
            width: auto;
            padding: 3px 0;
            text-align: left;
            top: 30%;
            left: 140px;
            width: 290px;
            color: $mainColor;
        }
    }
}